@media (max-width: 768px){
    .display-none{
        display: none;
    }
    .column {
        display: grid;
        grid-template-columns: 1fr;
    }
    .navbar-toggler {
        text-align: right;
        margin: 0;
    }
}